<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="../../assets/svgs/logo-2.svg" alt="logo" width="264" height="78"></a>
            <p> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque mollitia molestias tenetur porro amet reprehenderit ipsam deserunt rem nobis laudantium libero, alias nostrum harum.
            </p>
            
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Retaining Walls</li>
                    <li>Patios & Walkways</li>
                    <li>Planting & Edging</li>
                    <li>Fencing</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">service@lakesarealandscape.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed & Developed by</span>
        <a href="/" target="_blank" rel="noopener">E2 Web Design</a>
        <span class="copyright">
            © {% year %}</span>
    </div>
</footer>
