/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px- Contains Hover State */
@media only screen and (min-width: 0rem) {
    #services-30 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: (20/16rem);
        }

        .cs-item {
            list-style: none;
            margin: 0;
            width: 100%;
        }

        .cs-picture {
            /* height divided by width */
            aspect-ratio: 328/220;
            position: relative;
            display: block;
            /* Keeps image from bleeding outside the picture element */
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 0%;
                width: 100%;
                background: var(--primary);
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
                transition: height 0.3s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act like a background image */
                object-fit: cover;
                transition: transform 0.7s;
            }
        }

        .cs-box {
            /* Centers the button */
            text-align: center;
            width: 90%;
            margin: 0 auto;
            /* -32px to -48px */
            margin-top: ~"calc(clamp(2rem, 7vw, 3rem)*-1)";
            /* 24px to 28px */
            padding-top: clamp(1.5rem, 2.4vw, 1.75rem);
            padding-bottom: clamp(1.5rem, 2.4vw, 1.75rem);
            background: #fff;
            box-shadow: 2px 2px 10px #00000024;
            position: relative;
            z-index: 10;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            text-align: center;
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
            /* 24px to 28px */
            margin: 0 0 clamp(1.5rem, 2.4vw, 1.75rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-30 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-card-group {
            flex-wrap: wrap;
            flex-direction: row;
        }

        .cs-item {
            width: 47%;
        }

        .cs-picture {
            /* Reset aspect ratio, don't need it anymore */
            aspect-ratio: initial;
            /* 240px - 420px */
            height: clamp(15rem, 31.5vw, 26.25rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-30 {
        .cs-card-group {
            max-width: 100%;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 24%;
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    
    #sbs-456 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16em);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
        }

        .cs-content {
            text-align: left;
            width: auto;
            max-width: (650/16rem);
            margin: 0 (16/16rem);
            margin-top: (-300/16rem);
            /* 40px - 60px top and bottom */
            /* 20px - 60px left and right */
            padding: clamp(2.5rem, 7vw, 3.75rem) clamp(1.25rem, 5.5vw, 3.75rem);
            background-color: #fafbfc;
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            /* clips the pseudo element */
            overflow: hidden;
            box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;

            &:before {
                /* green border top */
                content: "";
                width: 100%;
                height: (8/16rem);
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            height: (443/16rem);
            /* clips the img corners */
            overflow: hidden;
            display: block;
            /* sends it to the top */
            order: -1;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .sbs-1 {
        background-color: #f7f7f7;
    }

    .sbs-2 {
        background-color: white;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-456 {
        .cs-container {
            padding: (60/16rem) 0;
            position: relative;
            align-items: flex-end;
            justify-content: center;
        }

        .cs-content {
            width: 65%;
            margin: 0;
        }

        .cs-picture {
            /* 465px - 617px */
            width: clamp(29.0625rem, 53vw, 38.5625rem);
            position: absolute;
            left: 0;
            height: 100%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-456 {
        .cs-content {
            /* 90px - 108px */
            margin-right: clamp(5rem, 8.5vw, 6.75rem);
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-457 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
        }

        .cs-content {
            text-align: left;
            width: auto;
            max-width: (650/16rem);
            margin: 0 (16/16rem);
            margin-top: (-300/16rem);
            /* 40px - 60px top and bottom */
            /* 20px - 60px left and right */
            padding: clamp(2.5rem, 7vw, 3.75rem) clamp(1.25rem, 5.5vw, 3.75rem);
            background-color: #fafbfc;
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            /* clips the pseudo element */
            overflow: hidden;
            box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;

            &:before {
                /* green border top */
                content: "";
                width: 100%;
                height: (8/16rem);
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            height: (443/16rem);
            /* clips the img corners */
            overflow: hidden;
            display: block;
            /* sends it to the top */
            order: -1;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .sbsr-1 {
        background-color: white;
    }

    .sbsr-2 {
        background-color: #f7f7f7;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-457 {
        .cs-container {
            padding: (60/16rem) 0;
            position: relative;
            align-items: flex-start;
            justify-content: center;
        }

        .cs-content {
            width: 65%;
            margin: 0;
        }

        .cs-picture {
            /* 465px - 617px */
            width: clamp(29.0625rem, 53vw, 38.5625rem);
            position: absolute;
            right: 0;
            height: 100%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-457 {
        .cs-content {
            /* 90px - 108px */
            margin-left: clamp(5rem, 8.5vw, 6.75rem);
        }
    }
}



/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-340-1112 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-background {
            width: 100%;
            height: 100%;
            background-color: #1a1a1a;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0.16;
                object-fit: cover;
            }
        }

        .cs-card-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (600/16rem);
            margin: auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (40/16rem);
        }

        .cs-item {
            list-style: none;
            min-width: auto;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .cs-picture {
            /* 60px - 80px */
            width: clamp(3.75rem, 7.9vw, 5rem);
            height: clamp(3.75rem, 7.9vw, 5rem);
            margin-right: (16/16rem);
            border: 1px solid #bababa;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents border from adding to height and width */
            box-sizing: border-box;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            /* 28px - 40px */
            width: clamp(1.75rem, 3.9vw, 2.5rem);
            height: auto;
            filter: brightness(0%) saturate(100%) invert(86%) sepia(1%) saturate(14%) hue-rotate(314deg) brightness(85%) contrast(97%);
        }

        .cs-flex-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-number {
            font-size: var(--headerFontSize);
            color: var(--bodyTextColorWhite);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            display: block;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.4vw, 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
            display: block;
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-340-1112 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: (50/16rem);
            row-gap: (60/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-340-1112 {
        .cs-card-group {
            max-width: (1280/16rem);
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-864 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            // background: var(--primary);
            opacity: 0.03;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (900/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 20 characters including spaces */
            max-width: 20ch;
        }

        .cs-text {
            max-width: 100%;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 32px */
            padding: clamp(1.25rem, 4vw, 2rem);
            background-color: #fff;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            box-shadow: 2px 2px 10px #00000024;
            // box-shadow: 6px 6px 10px #3535351a;
            // border: 1px solid var(--secondary);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            grid-column: span 12;
            position: relative;
        }

        .cs-flex-group {
            width: 100%;
            // margin: 0 0 (20/16rem) 0;
            padding-bottom: (20/16rem);
            // border-bottom: 1px solid var(--secondary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-profile {
            width: (64/16rem);
            height: (64/16rem);
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.5em;
            font-weight: 700;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (20/16rem);
            max-width: (444/16rem);
            color: var(--bodyTextColor);
        }

        .cs-stars {
            width: (108/16rem);
            height: auto;
            margin: 0 0 (8/16rem) 0;
            display: block;
            filter: brightness(0) saturate(100%) invert(63%) sepia(87%) saturate(468%) hue-rotate(353deg) brightness(102%) contrast(104%);
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-quote1,
        .cs-quote2 {
            display: none;
            width: (194/16rem);
            height: auto;
            display: block;
            position: absolute;
            z-index: -1;
        }

        .cs-quote1 {
            top: 0;
            left: 0;
        }

        .cs-quote2 {
            bottom: 0;
            right: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-864 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 6;
            &:last-of-type {
                grid-column: span 12;
            }
        }

        .cs-stars {
            margin-top: auto;
        }

        .cs-quote1,
        .cs-quote2 {
            display: block;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-864 {
        .cs-item {
            grid-column: span 4;
            &:last-of-type {
                grid-column: span 4;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-864 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-review,
            .cs-name,
            .cs-job,
            .cs-desc {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-desc {
                opacity: 0.8;
            }

            .cs-item {
                background-color: fade(#000, 20%);
            }

            .cs-flex-group {
                border-color: var(--accent);
            }

            .cs-quote1,
            .cs-quote2 {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-326 {
        padding: var(--sectionPadding);
        background-color: var(--backgroundOffset);

        .cs-container {
            width: 100%;
            max-width: (700/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: white;
            box-shadow: 2px 2px 10px #00000024;

            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            // border-radius: (12/16rem);
            transition: border-bottom 0.3s;

            &.active {
                .cs-button {
                    background-color: var(--primary);
                    color: var(--bodyTextColorWhite);
                    &:before {
                        background-color: var(--bodyTextColorWhite);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--bodyTextColorWhite);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px top & bottom */
                    /* 16px - 24px left & right */
                    padding: clamp(1.25rem, 1.3vw, 1.5rem)
                        clamp(1rem, 2vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 20px */
            padding: clamp(1rem, 1.3vw, 1.25rem);
            background-color: white;
            border: none;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: (24/16rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: (21/16rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-326 {
            .cs-topper {
                color: var(--secondaryLight);
            }

            .cs-title,
            .cs-item-p {
                color: var(--bodyTextColorWhite);
            }

            .cs-faq-item {
                background-color: var(--accent);
                &.active {
                    .cs-button {
                        background-color: var(--secondaryLight);
                        color: var(--primary);
                        &:before,
                        &:after {
                            background-color: var(--primary);
                        }
                    }
                }
            }

            .cs-button {
                background-color: var(--accent);
                color: var(--bodyTextColorWhite);
                &:before,
                &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }
        }
    }
}