---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1427">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Central Minnesota Home & Commercial Landscaping</h1>
            <p class="cs-text">
                We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies.
            </p>
            <div class="cs-button-group">
                <a href="/contact" class="cs-button-solid cs-button1">Get a Fast Quote</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/above-m.jpg">
        <source media="(min-width: 601px)" srcset="assets/images/above-l.jpg">
        <img src="assets/images/above-l.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
                                                                                        
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-30">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Pick Your Project</h2>
            <p class="cs-text">
                Facilisis condimentum viverra scelerisque ac morbi sit sed. Turpis sagittis in blandit eleifend tortor ullamcorper eu placerat. Et orci felis volutpat, etiam vitae egestas volutpat pulvinar. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="../assets/images/retainer-m.jpg">
                    <source media="(min-width: 601px)" srcset="../assets/images/retainer-l.jpg">
                    <img loading="lazy" decoding="../assets/images/retainer-l.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Retaining Walls</h3>
                    <a class="cs-button-solid" aria-label="read more about foyers" href="/services#retaining-walls">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="../assets/images/edging-m.jpg">
                    <source media="(min-width: 601px)" srcset="../assets/images/edging-l.jpg">
                    <img loading="lazy" decoding="../assets/images/edging-l.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Planting & Edging</h3>
                    <a class="cs-button-solid" aria-label="read more about bathrooms" href="/services#planting-edging">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="../assets/images/patio-2-m.jpg">
                    <source media="(min-width: 601px)" srcset="../assets/images/patio-2-l.jpg">
                    <img loading="lazy" decoding="../assets/images/patio-2-l.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Patios & Walkways</h3>
                    <a class="cs-button-solid" aria-label="read more about living rooms" href="/services#patios-walkways">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="../assets/images/fencing-m.jpg">
                    <source media="(min-width: 601px)" srcset="../assets/images/fencing-l.jpg">
                    <img loading="lazy" decoding="../assets/images/fencing-l.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Fencing</h3>
                    <a class="cs-button-solid" aria-label="read more about kitchens" href="/services#fencing">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1161">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/services-2-1-m.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/services-2-1-l.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/services-2-1-l.jpg" alt="appliance" width="630" height="390">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/fencing-s.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/fencing-m.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/fencing-m.jpg" alt="appliance" width="461" height="300">
            </picture>
            <div class="cs-box">
                <span class="cs-number">300+</span>
                <span class="cs-desc">Projects Completed</span>
            </div>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">We'll Make Your Dream Yard a Reality</h2>
            <p class="cs-text">
                Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls. Busto auctor lectus vitae conubia euismod nec rhoncus parturient convallis parturient accumsan volutpat ligula and intege aenean facilisis.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">We handle all makes and models</li>
                <li class="cs-li">We are endorsed by the local trading standards office</li>
                <li class="cs-li">All our technicians are equipped with the latest portable</li>
                <li class="cs-li">Proven results for setting exceptional standards</li>
                <li class="cs-li">Same day service for most repairs</li>
            </ul>
            <a href="/services" class="cs-button-solid">View Services</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/services-2-1-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/services-2-1.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/services-2-1.jpg" alt="house" loading="lazy" width="400" height="560">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/services-2-2-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/services-2-2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/services-2-2.jpg" alt="cabinets" loading="lazy" width="400" height="560">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">We'll Be There Every Step of the Way</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <p class="cs-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
            </p>
            <a href="/services" class="cs-button-solid">Read More</a>
        </div>
    </div>
</section>
                                                      
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">                
                <h2 class="cs-title">100% Satisfaction Guaranteed! Book Your Free Consultaion Today</h2>
            </div>
            <div class="cs-button-box">
                <a href="/contact" class="cs-button-solid">Schedule A Consult</a>
                {# <a href="" class="cs-button-transparent">Contact Us</a> #}
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="assets/images/grass-2-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="assets/images/grass-2-l.jpg">
        <img loading="lazy" decoding="async" src="assets/images/grass-2-l.jpg" alt="mechanic" width="1280" height="568">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                 Meet The Team                -->
<!-- ============================================ -->

<section id="meet-team-220">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Meet Our Expert Team</h2>
            {# <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p> #}
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/guy-3-s.jpg" alt="portrait" width="275" height="132">
                </picture>
                <span class="cs-name">Nick</span>
                <span class="cs-job-title">Designer</span>
                <!-- Social Flexbox -->
                <div class="cs-social">
                    {# <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/twitter.svg" alt="twitter" width="15" height="13">
                    </a>
                    <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/linkedin.svg" alt="linkedin" width="17" height="16">
                    </a> #}
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/guy-2-s.jpg" alt="portrait" width="275" height="132">
                </picture>
                <span class="cs-name">Steve</span>
                <span class="cs-job-title">Owner</span>
                <!-- Social Flexbox -->
                <div class="cs-social">
                    {# <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/twitter.svg" alt="twitter" width="15" height="13">
                    </a>
                    <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/linkedin.svg" alt="linkedin" width="17" height="16">
                    </a> #}
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/guy-4-s.jpg" alt="portrait" width="275" height="132">
                </picture>
                <span class="cs-name">John</span>
                <span class="cs-job-title">Engineer</span>
                <!-- Social Flexbox -->
                <div class="cs-social">
                    {# <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/twitter.svg" alt="twitter" width="15" height="13">
                    </a>
                    <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/linkedin.svg" alt="linkedin" width="17" height="16">
                    </a> #}
                </div>
            </li>
        </ul>
        <a href="/about" class="cs-button-solid">Get to Know Us</a>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1086">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Projects We've Done for Customers Like You</h2>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/landscaping-2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/landscaping-2.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/landscaping-2.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/house-1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/house-1.webp">
                <img loading="lazy" decoding="async" src="../assets/images/house-1.webp" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/retainer-s.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/retainer-m.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/retainer-m.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture4">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/walkway-s.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/walkway-m.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/walkway-m.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture5">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/driveway-s.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/driveway-m.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/driveway-m.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture6">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/patio-2-s.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/patio-2-m.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/patio-2-m.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture7">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/fencing-s.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/fencing-m.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/fencing-m.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture8">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/plants-2-s.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/plants-2-m.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/plants-2-m.jpg" alt="mechaninc" width="345" height="345">
            </picture>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-864">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Google Verified Reviews</h2>
            {# <p class="cs-text">
                Vitae ultricies leo integer malesuada nunc vel. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Viverra aliquet eget sit amet tellus cras adipiscing. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit.
            </p> #}
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="assets/images/review-2.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        Jen Smith
                        <span class="cs-job">Patio & Walkway</span>
                    </span>
                </div>
                <p class="cs-review">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <span class="cs-desc">Google</span>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="assets/images/review-1.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        Mike Thomas
                        <span class="cs-job">Retainer Wall</span>
                    </span>
                </div>
                <p class="cs-review">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo. 
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <span class="cs-desc">Google</span>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="assets/images/review-3.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        Barbara Titus
                        <span class="cs-job">Edging & Planting</span>
                    </span>
                </div>
                <p class="cs-review">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <span class="cs-desc">Google</span>
            </li>
        </ul>
    </div>
    <!--Top Left Quote-->
    <img class="cs-quote1" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg" decoding="async" alt="quote icon" width="194" height="160">
    <!--Top Right Quote-->
    <img class="cs-quote2" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg" decoding="async" alt="quote icon" width="194" height="160">
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-326">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our 10 Most Asked Questions</h2>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do I get started?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you understand my vision? 
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Is there anything I can do to lower costs?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long will my project take?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Are you licensed and insured?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Do you offer a contract?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Do you offer warranties?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Who should I contact if I notice a problem?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Where do you source your plants?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Can you install outdoor lighting?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}