---
title: 'Lakes Area Landscaping'
description: 'Central Minnesota home and commercial landscaping'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1839">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Welcome to Lakes Area Dental Alexandria, MN</h1>
            <p class="cs-text">
                We're in the business of smiles. We'll take good care of yours.  
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid cs-button1">Call Us Today</a>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/hero-1-1-s.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/hero-1-1-m.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/hero-1-1-m.jpg" alt="icon" width="48" height="48">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Schedule a Free Consultation</h3>
                    <p class="cs-item-text">
                        Need some help with your smile, but don't know where to start? Book a free consultation with us today.
                    </p>
                    <a href="/" class="cs-link">
                        Book Now
                        <img class="cs-arrow" loading="lazy" decoding="async" src="../assets/svgs/chevron-primary.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/hero-alt-s.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/hero-alt-m.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/hero-alt-m.jpg" alt="icon" width="48" height="48">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Request an Appointment</h3>
                    <p class="cs-item-text">
                        Get a free clean and polish your first visit with us! 
                    </p>
                    <a href="/" class="cs-link">
                        Book Now
                        <img class="cs-arrow" loading="lazy" decoding="async" src="../assets/svgs/chevron-primary.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="../assets/images/hero-alt-m.jpg">
        <source media="(min-width: 601px)" srcset="../assets/images/hero-alt-l.jpg">
        <img loading="lazy" decoding="async" src="../assets/images/hero-alt-l.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1982">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Looking for a New Family Dentist in Alexandria, MN?</h2>
            <p class="cs-text-large">
                We Provide the Highest Quality Care for You and Your Family
            </p>
            <p class="cs-text">
                Orci eu lobortis elementum nibh tellus. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Luctus accumsan tortor posuere ac ut consequat semper. Et pharetra pharetra massa massa ultricies mi quis.
            </p>
            <a href="" class="cs-button-solid">Book Now</a>
            <div class="cs-ratings">
                <div class="cs-stars">
                    <img class="cs-star" loading="lazy" decoding="async" src="../assets/svgs/star.svg" alt="star" width="24" height="24" aria-hidden="true">
                    <img class="cs-star" loading="lazy" decoding="async" src="../assets/svgs/star.svg" alt="star" width="24" height="24" aria-hidden="true">
                    <img class="cs-star" loading="lazy" decoding="async" src="../assets/svgs/star.svg" alt="star" width="24" height="24" aria-hidden="true">
                    <img class="cs-star" loading="lazy" decoding="async" src="../assets/svgs/star.svg" alt="star" width="24" height="24" aria-hidden="true">
                    <img class="cs-star" loading="lazy" decoding="async" src="../assets/svgs/star.svg" alt="star" width="24" height="24" aria-hidden="true">
                </div>
                <div class="cs-rating">
                    <h3 class="cs-h3">4.9 Average Google Star Rating</h3>
                    <p class="cs-rating-text">
                        based on 750+ reviews of 6,154 completed projects
                    </p>
                </div>
                <img class="cs-icon" loading="lazy" decoding="async" src="../assets/svgs/dentist-tooth.svg" alt="star" width="20" height="20">
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/doc-s.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/doc-m.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/doc-m.jpg" alt="staff member smiling" width="630" height="680">
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="../assets/svgs/users.svg" alt="people" width="60" height="60">
                <span class="cs-desc">
                    24,000+
                </span>
                <p class="cs-box-text">
                    Patients served and bring back their happy smile
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->  

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Our Services</h2>
            </div>
        </div>            
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/chat.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Answer a Few Questions</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="../assets/svgs/call.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Complimentary Call</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/money.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Grow Your Wealth</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/dollar.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Financial Consultants</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/layer.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Brand Amplify Strategies</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/chart.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Growth Catalyst Solutions</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All Services</a>
    </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="../assets/images/kid-4-m.jpg">
                <source media="(min-width: 601px)" srcset="../assets/images/kid-4-l.jpg">
                <img aria-hidden="true" decoding="async" src="../assets/images/kid-4-l.jpg" alt="house" loading="lazy" width="400" height="560">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="../assets/images/kid-1-m.jpg">
                <source media="(min-width: 601px)" srcset="../assets/images/kid-1-l.jpg">
                <img aria-hidden="true" decoding="async" src="../assets/images/kid-1-l.jpg" alt="cabinets" loading="lazy" width="400" height="560">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Family Focused, Kid Friendly</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <p class="cs-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
            </p>
            <a href="/services" class="cs-button-solid">Read More</a>
        </div>
    </div>
</section>                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1443">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../assets/images/office-3-s.jpg">
            <source media="(min-width: 601px)" srcset="../assets/images/office-3-m.jpg">
            <img loading="lazy" decoding="async" src="../assets/images/office-3-m.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">Bright and Open Concept</h2>
            <p class="cs-text">
                Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow.
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Warm Natural Light in Every Room</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Clean and Professional Equipment</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Comfortable and Relaxing Lobby</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
            </ul>     
            <a href="" class="cs-button-solid">Read More</a>        
        </div>
    </div>
</section>
                                
                                                     
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">                
                <h2 class="cs-title">100% Satisfaction Guaranteed! Book Your Free Consultaion Today</h2>
            </div>
            <div class="cs-button-box">
                <a href="/contact" class="cs-button-solid">Schedule A Consult</a>
                {# <a href="" class="cs-button-transparent">Contact Us</a> #}
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="assets/images/office-5-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="assets/images/office-5-l.jpg">
        <img loading="lazy" decoding="async" src="assets/images/office-5-l.jpg" alt="mechanic" width="1280" height="568">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                 Meet The Team                -->
<!-- ============================================ -->

<section id="meet-team-220">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Meet Our Professional Staff</h2>
            {# <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p> #}
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/doc-1-s.jpg" alt="portrait" width="275" height="132">
                </picture>
                <span class="cs-name">Dr. Elsher </span>
                <span class="cs-job-title">Orthodontics</span>
                <!-- Social Flexbox -->
                <div class="cs-social">
                    {# <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/twitter.svg" alt="twitter" width="15" height="13">
                    </a>
                    <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/linkedin.svg" alt="linkedin" width="17" height="16">
                    </a> #}
                </div>
            </li>
                        <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/doc-3-s.jpg" alt="portrait" width="275" height="132">
                </picture>
                <span class="cs-name">Dr. Tabor</span>
                <span class="cs-job-title">Pediatrics</span>
                <!-- Social Flexbox -->
                <div class="cs-social">
                    {# <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/twitter.svg" alt="twitter" width="15" height="13">
                    </a>
                    <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/linkedin.svg" alt="linkedin" width="17" height="16">
                    </a> #}
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/doc-2-s.jpg" alt="portrait" width="275" height="132">
                </picture>
                <span class="cs-name">Dr. Morris</span>
                <span class="cs-job-title">General</span>
                <!-- Social Flexbox -->
                <div class="cs-social">
                    {# <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/twitter.svg" alt="twitter" width="15" height="13">
                    </a>
                    <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/linkedin.svg" alt="linkedin" width="17" height="16">
                    </a> #}
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-326">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our 10 Most Asked Questions</h2>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do I get started?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you understand my vision? 
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Is there anything I can do to lower costs?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long will my project take?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Are you licensed and insured?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Do you offer a contract?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Do you offer warranties?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Who should I contact if I notice a problem?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Where do you source your plants?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Can you install outdoor lighting?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-864">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Google Verified Reviews</h2>
            {# <p class="cs-text">
                Vitae ultricies leo integer malesuada nunc vel. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Viverra aliquet eget sit amet tellus cras adipiscing. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit.
            </p> #}
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="assets/images/review-2.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        Jen Smith
                        <span class="cs-job">Patio & Walkway</span>
                    </span>
                </div>
                <p class="cs-review">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <span class="cs-desc">Google</span>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="assets/images/review-1.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        Mike Thomas
                        <span class="cs-job">Retainer Wall</span>
                    </span>
                </div>
                <p class="cs-review">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo. 
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <span class="cs-desc">Google</span>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="assets/images/review-3.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        Barbara Titus
                        <span class="cs-job">Edging & Planting</span>
                    </span>
                </div>
                <p class="cs-review">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
                </p>
                <!--Stars-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg" decoding="async" alt="quote icon" width="108" height="16">
                <span class="cs-desc">Google</span>
            </li>
        </ul>
    </div>
    <!--Top Left Quote-->
    <img class="cs-quote1" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg" decoding="async" alt="quote icon" width="194" height="160">
    <!--Top Right Quote-->
    <img class="cs-quote2" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg" decoding="async" alt="quote icon" width="194" height="160">
</section>


    {% include 'components/cta.html' %}
{% endblock %}